<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости {{ News|length }} </h1>

   <hr>
   {% if News %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Статья</td>
           </tr>

           {% for Post in News|dictsortreversed:"dateCreation" %}
           <tr>
               <td>{{ Post.title|censor }}</td>
               <td>{{ Post.dateCreation|date:'d M Y' }}</td>
               <td>{{ Post.text|censor|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}